.container{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
}
button {
    border: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
button:hover {
    background: #200741;
    background-image: -webkit-linear-gradient(top, #200741, #080F9B);
    background-image: -moz-linear-gradient(top, #200741, #080F9B);
    background-image: -ms-linear-gradient(top, #200741, #080F9B);
    background-image: -o-linear-gradient(top, #200741, #080F9B);
    background-image: linear-gradient(to bottom, #200741, #080F9B);
    text-decoration: none;
  }

  .linkedin, .git {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 15px;
  }

  .linkedin:hover, .git:hover {
    background: #200741;
    background-image: -webkit-linear-gradient(top, #200741, #080F9B);
    background-image: -moz-linear-gradient(top, #200741, #080F9B);
    background-image: -ms-linear-gradient(top, #200741, #080F9B);
    background-image: -o-linear-gradient(top, #200741, #080F9B);
    background-image: linear-gradient(to bottom, #200741, #080F9B);
  }

  .externals {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    
  }
