.container {
    display: flex;

}

.pContainer {
    width: 40%;
    margin-top: 12%;
}

.pAbout {
    background-color: rgba(2, 36, 107, 0.9);
    border-radius: 10px;
    border: 1px solid white;
    padding: 5%;
    color: white;
    font-size: 1.5rem;
}

.imgContainer {
    margin-top: 10%;
    margin-left: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.avatar{
    width: 50%;
    border-radius: 50%;
    border: 2px solid white;
    justify-content: center;
}
