.container {
    display: flex;
    margin: auto;
    width: 100%;
}
.pContainer{
    border: 2px solid white;
    border-radius: 10%;
    background-color: rgba(2, 36, 107, 0.9);
    margin: auto;
    margin-left: 10%;
    margin-top: 5%;
    padding: 1%;
    width: 30%; 
}

.imgContainer {
    justify-content: center;
    width: fit-content;
    padding: auto;
    border: 2px solid white;
    border-radius: 10%;
    margin-right: 12%;
    margin-top: 13%;
    background-color: rgba(2, 36, 107, 0.9);
    padding: 3%;
}

.title, .subP {
    color: white;
} 

.subP {
    font-size: 1.5rem;
    margin-top: 5%;
}

.iconBox {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
}

