.container {
    padding: 1%;
}

.subC {
    padding: 2%;
}

.rowItem {
    width: 5%;
    margin: 2%;
    border: 2px solid white;
    border-radius: 10%;
    padding: 1%;
}

.firstRow, .secondRow, .thirdRow {
    display: flex;
    justify-content: center;
    margin: 2% 10%;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(2, 36, 107, 0.9);
}

.title {
    color: white;
    margin-left: 10%;
    font-size: 3rem;
}

.skillsP {
    color: white;
    font-size: 1.2rem;
}

.rowItem:hover {
    zoom: 2;
}